[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "docling>=2.63.0",
    "fastapi>=0.121.3",
    "pandas>=2.3.3",
    "pillow>=11.3.0",
]
